// IMPORTS

@import 'config';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
}

a {
	text-decoration: none;
	color: black;
}

header {
	background: url(../img/home/hero-img.png) center / cover no-repeat;
	height: 200px;
	width: 100%;
	position: relative;
	@include mq(sm) {
		height: 300px;
	}
	@include mq(md) {
		height: 400px;
	}
	@include mq(lg) {
		height: 500px;
	}
	@include mq(xl) {
		height: 600px;
	}
}


// HAMBURGER BUTTON

.hamburger {
	padding: 7px;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	border: 0;
	margin-top: 3px;
	margin-right: 5px;
	height: 40px;
	position: absolute;
	right: 0px;
	@include mq(lg) {
		display: none;
	}
	&__box {
	width: 45px;
	height: 24px;
	display: inline-block;
	position: relative;
	}
	&__inner {
		@include hmbrg-inner(50%, background-color .1s .2s ease-in-out);
		transform: translateY(-50%);
		}
	&__inner::before {
			@include hmbrg-inner(-11px, transform .2s .2s ease-in-out);
	}
	&__inner::after {
			@include hmbrg-inner(11px, transform .2s .2s ease-in-out);
	}
}

.hamburger--active .hamburger__inner {
	background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
	transform: translateY(12px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
	transform: translateY(-10px) rotate(-45deg);
}


// NAVIGATION

.navbar {
	height: 45px;
	background-color: $monza;
	font-family: $primary;
	letter-spacing: 1px;
	width: 100%;
	display: block;
	opacity: 8;
	top: 0;
	position: fixed;
	z-index: 10;
	transition: .5s;
	overflow: hidden;
	@include mq(lg) {
		overflow: visible;
	}
	&--active {
		height: 100vh;
	}
	ul {
		@include flex(column);
		list-style: none;
		color: white;
		margin-top: 30vh;
		@include mq(lg) {
			flex-direction: row;
			justify-content: center;
			width: 100%;
			margin-top: 0px;
			height: 100%;
		}
		li {
			width: 150px;
			text-align: center;
			font-size: 25px;
			padding: 0px;
			line-height: 40px;
			@include mq(lg) {
				margin: 0px;
				font-size: 20px;
				line-height: 45px;
			}
			&:hover {
				background-color: transparent;
				@include mq(lg) {
					background-color: #7A0F17;
				}
			}
		}
	}
}

.dropdown-wrapper {
	display: none;
	line-height: 30px;
	margin-top: 0px;
	.dropdown-nav {
		list-style: none;
		margin-top: 0px;
		&__item:hover {
			background: transparent;
			margin-top: 0px;
		}
	}
}

.navbar ul li:hover .dropdown-wrapper {
	@include flex(column);
	background-color: transparent;
	@include mq(lg) {
			flex-direction: row;
			background-color: white;
			position: absolute;
			left: 0;
			top: 45px;
			width: 100%;
	}
}

.headline {
	position: absolute;
	width: 100%;
	margin-top: 100px;
	@include mq(sm) {
		margin-top: 140px;
	}
	@include mq(lg) {
		margin-top: 170px;
	}
	@include mq(xl) {
		margin-top: 200px;
	}
	a {
		color: white;
		h1 {
			@extend %head-size;
			text-shadow: 5px 5px 15px black;
		}
	}
}

.logo {
	width: 200px;
	transition: .2s;
	z-index: 2;
	display: none;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -100px;
	margin-bottom: -80px;
	@include mq(xl) {
		display: block;
	}
	&:hover {
		transform: scale(1.05);
	}
}


// RESULTS BAR

.results-bar {
	background-image: url(../img/home/transparent_white_background.png);
	font-family: $primary;
	letter-spacing: 2px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	font-size: 24px;
	display: none;
	justify-content: space-around;
	align-items: center;
	letter-spacing: 3px;
	@include mq(lg) {
		@include flex;
	}
	&__last {
		@include flex;
		align-items: center;
	}
	&__next {
		@extend .results-bar__last;
	}
}

.score {
	padding: 6.5px;
	background-color: $monza;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}


// NEWS GRID CONTAINER

.news-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 250px;
	grid-gap: 10px;
	margin-top: 20px;
	@include mq(sm) {
		grid-auto-rows: 400px;
	}
	@include mq(md) {
		grid-auto-rows: 600px;
	}
	@include mq(xl) {
		margin-top: 30px;
	}
}

.news--big {
	grid-column: 1 / -1;
}

.news {
	background-color: white;
	padding: 5px;
	&__img-wrapper {
		height: 70%; 
		overflow: hidden;
	}
	&__img {
		width: 100%;
		height: 100%;
		background-position: center 0px;
		background-size: cover;
		transition: .5s;
	}
	&__text-wrapper {
		@include flex(column);
		padding-top: 10px;
		height: 30%;
		margin-left: 5px;
	}
	&__headline {
		font-family: $primary;
		font-size: 20px;
		@include mq(sm) {
			font-size: 24px;
		}
		@include mq(md) {
			font-size: 28px;
		}
	}
	&__subheadline {
		font-family: $secondary;
		font-size: 10px;
		@include mq(sm) {
			font-size: 12px;
		}
		@include mq(md) {
			font-size: 14px;
		}
	}
	&__date {
		font-family: $secondary;
		align-self: flex-end;
		margin-top: auto;
		p {
			font-size: 8px;
			@include mq(sm) {
				font-size: 12px;
			}
			@include mq(md) {
				font-size: 16px;
			}
		}
	}
}

.news__headline--big {
	font-size: 21px;
	@include mq(sm) {
		font-size: 35px;
	}
	@include mq(md) {
		font-size: 45px;
	}
	@include mq(lg) {
		font-size: 55px;
	}
	@include mq(xl) {
		font-size: 65px;
	}
}

.news__subheadline--big {
	font-size: 10px;
	@include mq(sm) {
		font-size: 14px;
	}
	@include mq(md) {
		font-size: 18px;
	}
	@include mq(lg) {
		font-size: 25px;
	}
}

.news__img-wrapper:hover .news__img,
.news__img-wrapper:focus .news__img {
 	transform: scale(1.1);
}


// SAINTS TV CONTAINER

.saints-tv-title {
	margin-top: 50px;
	width: 150px;
	border-bottom: 5px solid $monza;
	@include mq(sm) {
		width: 250px;
	}
	h3 {
		color: white;
		text-align: center;
		font-family: $primary;
		font-size: 20px;
		letter-spacing: 4px;
		@include mq(sm) {
			font-size: 40px;
		}
	}
}

.video-wrapper {
	@include flex(column);
	margin-top: 20px;  
	@include mq(lg) {
		flex-direction: row;
	}   
	.video {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 25px;
		height: 0;
		width: 100%;
		border: 3px solid white;
		@include mq(lg) {
			padding-bottom: 28.12%;
			width: 50%;
		}
		&--left {
			@include mq(lg) {
				margin-right: 10px;
			}
		}
		&:last-child {
			margin-top: 10px;
			@include mq(lg) {
				margin-top: 0;
			}
		}
	}
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


// FOOTER

footer {
	background-color: black;
	height: 90px;
	margin-top: 100px;
	width: 100%;
}

.footer-wrapper {
	@include flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

.social-media {
	@include flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	&__btn {
		padding: 10px;
		img {
			width: 30px;
			@include mq(sm) {
				width: 40px;
			}
			&:last-child {
				display: none;  
		    }
		}
		&:hover img:last-child {
			display: block;  
	    }
	    &:hover img:first-child {
		    display: none;  
   		}
	}
}

.social-media__text {
	font-family: $secondary;
	text-transform: uppercase;
	color: white;
	font-size: 7px;
	@include mq(sm) {
		font-size: 10px;
	}
	@include mq(md) {
		font-size: 13px;
	}
	@include mq(lg) {
		font-size: 15px;
	}
}


// SUBPAGE STYLES

.container--article {
	background-color: white;
}

.article {
	@include flex(column);
	margin-top: 30px;
	width: 90%;
	@include mq(md) {
		width: 80%;
	}
	&__headline {
		font-family: $primary;	
		letter-spacing: 1px;
		text-align: center;
		font-size: 26px;
		@include mq(sm) {
			font-size: 35px;
		}
		@include mq(md) {
			font-size: 50px;
		}
		@include mq(lg) {
			font-size: 60px;
		}
		@include mq(xl) {
			font-size: 80px;
		}
		margin-top: 30px;
		@include mq(xl) {
			margin-top: 60px;
		}
		margin-bottom: 20px;
	}
	&__img img {
		width: 100%;
		height: auto;
	}
	&__subheadline {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: $primary;
		letter-spacing: 1px;
		font-size: 16px;
		@include mq(sm) {
			font-size: 21px;
		}
		@include mq(md) {
			font-size: 27px;
		}
		@include mq(lg) {
			font-size: 32px;
		}
		@include mq(xl) {
			font-size: 40px;
		}
	}
	&__text {
		border-top: 5px solid $monza;
		padding-top: 30px;
		padding-bottom: 50px;
		font-family: $tertiary;
		font-size: 16px;
		@include mq(sm) {
			font-size: 18px;
		}
		@include mq(md) {
			font-size: 20px;
		}
		@include mq(lg) {
			font-size: 22px;
		}
		@include mq(xl) {
			font-size: 25px;
		}
	}
}